<body>
    <h1> Creditos </h1>
    <article class="Creditos-divs">
        <div>
            <h1> Franco Bronsztein </h1>
            <p> Diseñador UX / UI </p>
            <img src="imagenes/Franco.jpg" alt="Fran">
        </div>
        <div>
            <h1> Nicolas Simone </h1>
            <p> Programador </p>
            <img src="imagenes/Nicolas.jpg" alt="Nico">
        </div>
    </article>
</body>